# Modelo 2 - SVM

support vector machine sobre los datos de entrenamiento. 

Se divide el dataset de entrenamiento en train y test para probar las métricas del modelo con etiquetas conocidas.

#### Paquetes

In [14]:
from sklearn import svm, grid_search
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.metrics import classification_report
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix

## Datos tratamiento 1

In [2]:
%store -r newtrain_t1
newtrain_t1.head(5)

      SeriousDlqin2yrs  RevolvingUtilizationOfUnsecuredLines  DebtRatio  \
tr 0                 1                              0.766127   0.802982
   1                 0                              0.957151   0.121876
   2                 0                              0.658180   0.085113
   3                 0                              0.233810   0.036050
   4                 0                              0.907239   0.024926

      age_21  age_22  age_23  age_24  age_25  age_26  age_27    ...     \
tr 0       0       0       0       0       0       0       0    ...
   1       0       0       0       0       0       0       0    ...
   2       0       0       0       0       0       0       0    ...
   3       0       0       0       0       0       0       0    ...
   4       0       0       0       0       0       0       0    ...

      Rent_(2044.0, 3000.0]  Rent_(3000.0, 3800.0]  Rent_(3800.0, 4550.0]  \
tr 0                      0                      0                      0
   1                      1                      0                      0
   2                      0                      1                      0
   3                      0                      1                      0
   4                      0                      0                      0

      Rent_(4550.0, 5400.0]  Rent_(5400.0, 6300.0]  Rent_(6300.0, 7500.0]  \
tr 0                      0                      0                      0
   1                      0                      0                      0
   2                      0                      0                      0
   3                      0                      0                      0
   4                      0                      0                      0

      Rent_(7500.0, 9060.0]  Rent_(9060.0, 11600.0]  \
tr 0                      0                       1
   1                      0                       0
   2                      0                       0
   3                      0                       0
   4                      0                       0

      Rent_(11600.0, 7727000.0]  Rent_nan
tr 0                          0         0
   1                          0         0
   2                          0         0
   3                          0         0
   4                          1         0

[5 rows x 249 columns]

#### Datos train y datos testing

In [3]:
# asignamos variable dependiente e independiente
X = newtrain_t1.iloc[:,1:] # features
y = newtrain_t1.iloc[:,0] # variable target

In [4]:
# Definimos cada una de las partes. Entrenamos con el 70% de las obs.
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

X_train.shape

(105000, 248)

#### Support vector machine

In [6]:
# GridSearchCV  
# Configurar un grid de parámetros (usando múltiplos de 10 para comenzar).
# Pasar el algoritmo, el grid de parámetros y el número de validaciones cruzadas al método GridSearchCV

In [6]:
kernel_types = ["RBF"]     # tipos de kernels
C_range = [0.01, 0.1, 1, 10, 100, 1000]      # rango del parámetro para testear
degree_range = [1, 2, 3, 4, 5, 6]    # grados para testear

In [7]:
C_range = 10. ** np.arange(-3, 8)
gamma_range = 10. ** np.arange(-5, 4)
param_grid = dict(gamma=gamma_range, C=C_range)

In [6]:
# Otro modo
classifier = svm.SVC(kernel='rbf') # We set a SVM classifier, the default SVM Classifier (Kernel = Radial Basis Function)
classifier.fit(X, y) #

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [7]:
prediction_SVM_all = classifier.predict(X)

In [26]:
cnf_matrix_SV = confusion_matrix(y, prediction_SVM_all)

cnf_matrix_SV

array([[139973,      1],
       [ 10000,     26]], dtype=int64)

In [19]:
# Métricas
metricas_SV_t1 = classification_report(y, prediction_SVM_all)

print(metricas_SV_t1)

             precision    recall  f1-score   support

          0       0.93      1.00      0.97    139974
          1       0.96      0.00      0.01     10026

avg / total       0.94      0.93      0.90    150000

In [18]:
# coeficiente de determinación
r2_score(y, prediction_SVM_all)

-0.06895546652645401

#### Guardamos las métricas

<div class="alert alert-block alert-info">
<b>Conclusiones</b> 
</div>

#### Tratamiento 1

In [24]:
%store metricas_SV_t1

Stored 'metricas_SV_t1' (str)

In [27]:
%store cnf_matrix_SV

Stored 'cnf_matrix_SV' (ndarray)